{% extends "blog/base.html" %}

{% block content %}
<div class="card shadow p-3 mb-2 bg-white rounded w-100">
    <div class="card-body">
        <div class="row">
        <div class="col-sm-12 col-md-10 col-lg-10 col-xl-10">
            <h5 class="card-title">{{ blog.title }}</h5>
        </div>
        
        {% if user == blog.author %}
            <div class="col-sm-12 col-md-2 col-lg-2 col-xl-2">
                <a href="{% url 'blog-delete' blog.id %}">Delete blog</a>
            </div>
        {% endif %}
        </div>
        <h6 class="card-subtitle mb-2 text-muted">by <a style="position: relative;" href="{% url 'profile'  blog.author.id %}" class="text-decoration-none"><strong>{{ blog.author }}</strong></a> </h6>
        <p class="card-text">{{ blog.content }}</p>
        <p class="card-text"><small class="text-muted">{{ blog.posted_on }}</small></p>
        <p> <strong>Tags:</strong>
            {% for tag in tags %}
                <span class="badge badge-primary my-2 p-2"> {{ tag }}</span>
            {% endfor %}
        </p>
    </div>
</div>
{% endblock %}