{% extends "blog/base.html" %}
{% load crispy_forms_tags %}

{% block space %}
<div class="container">
    <div class="row mypadding justify-content-center">
        <div class="col-8 w-100 text-center">
            <h2>Create Account</h2>
            <form method="POST" class="text-center">
                {% csrf_token %}
                {{ form|crispy  }}
                <button type="submit" class="btn btn-primary">
                    Sign Up
                </button>
            </form>
        </div>
    </div>
</div>

{% endblock %}