{% extends "blog/base.html" %}

{% block space %}
<div class="row flex-xl-nowrap">
    <div class="col-12 col-md-3 col-xl-2 bd-sidebar border-right align-items-center">
        <nav class="nav flex-column sticky-top sidebar pt-3">
            <li class="nav-item">
                <a class="nav-link btn btn-dark " href="{% url 'tag-list' %}">Filter by tags</a>
            </li>
            <li class="nav-item">
                <a class="nav-link btn " href="{% url 'home' %}" tabindex="-1" aria-disabled="true">Home</a>
            </li>
        </nav>
    </div>


    <div class="col-sm-12 col-md-8 col-lg-8 pt-3">
        <div class="container">
            <h3>Tags:</h3>
            <div class="row">
                {% for tag in tags %}
                    <div class="p-3">
                        <a href="{% url 'tagged-questions' tag %}" class="btn btn-secondary ">
                            {{ tag }} 
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
        
        
    </div>    


</div>

{% endblock %}